.layout {
  display: flex;
  flex-direction: column;
}

.gnb,
.main,
.footer {
  max-width: 820px;
  margin: 0 auto;
}

.gnbContainer {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

.gnb {
  display: flex;
  padding: 18px 0;
}

.main {
  flex-grow: 1;
  padding: 46px 0;
}

.footerContainer {
  background-color: #000000;
  color: #838383;
}

.footer {
  text-align: right;
  padding: 30px 0;
}
