.reviewList {
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(105, 105, 105, 0.2);
  border-radius: 5px;
  list-style: none;
  padding: 30px 30px 0;
}

.reviewList > li {
  padding: 30px 0;
  max-height: 322px;
  overflow: hidden;
}

.reviewList > li:first-child {
  padding-top: 0;
}

.reviewList:not(:last-child),
.reviewList > li:not(:last-child) {
  border-bottom: 1px dashed #c5c5c5;
}
