.form {
  display: flex;
  gap: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleRating {
  display: flex;
  gap: 20px;
}

.textarea {
  flex-grow: 1;
}

.button {
  align-self: flex-end;
}

.title {
  flex-grow: 1;
}
