.buttons {
  display: flex;
  justify-content: space-between;
}

.orderButton {
  padding: 13px 16px;
}

.createButton {
  padding: 13px 39px;
  justify-self: right;
}

.modalTitle {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 16px;
}
